body, html{   
   height: 100%;
   overflow: hidden;
}
.full_h
{
   height: 100%;
}

.header_w{
	/*height: 30px;*/
	height: 65px;
	background-color:lightblue;
}

.container_w{   
   height: 100%;
   overflow: hidden;
}

.left {
	float:left;
	width:100px;
	background: #e8f6fe;
	height: 100%;
	
  
}

.right {
  width: auto;
  overflow: hidden;  
  background: white;
  height: 100%;
}

#flyPaper {
    position:fixed;
    z-index:100;
    opacity:.7;
    pointer-events:none;
    width:auto;
    height:auto;
    background-color:rgba(0,0,0,0);
}

* {
    box-sizing:border-box;
}

body {
    padding:0;
    margin:0;
    overflow:hidden;
}

#paper {
/*
    z-index: -1;
    position:absolute;
    float:right;
    background:#00000;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    left:0;
	*/
}

#paper>svg {
    overflow:visible;
}

/*
.connection,.connection-wrap {
    stroke:#ccc0ef;
}
*/



#palette {
   position:fixed;
    z-index:2;
    /*float:left;*/
    background:#ffffff;
    border:1px solid lightgrey;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
	box-shadow:0 1px 5px 0 rgba(0,0,0,0.5), 0 2px 3px 0 rgba(0,0,0,0.5);
    background-size: 104px 103px;
    border-radius:5px;
    background-image: linear-gradient(to bottom, lightgrey 1px, white 1px);
	
	
}

#l_w{

	box-shadow:0 1px 5px 0 rgba(0,0,0,0.5), 0 2px 3px 0 rgba(0,0,0,0.5);
    background-size: 104px 55px;
    border-radius:5px;
    background-image: linear-gradient(to bottom, lightgrey 1px, white 1px);
}

.palette-horizontal {
 
}

.palette-vertical {

	
/*-ms-transform: translateY(-50%);
transform: translateY(-50%);*/
}


.palette-options {
	position:fixed;
    z-index:2;
    /*float:left;*/
    
    border:1px solid lightblue;
    /*box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);*/
	box-shadow:0 1px 5px 0 rgba(0,0,0,0.5), 0 2px 3px 0 rgba(0,0,0,0.5);
    background-size: 104px 103px;
    border-radius:5px;
	
	
    height:519px;
    width:200px;
    right:10px;
    top:45px;
	background-color:#f0f8fb;

}

.palette-msgs {
    position: fixed;
    z-index: 2;
    /* float: left; */
    border: 1px solid #dcdd8b;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5), 0 2px 3px 0 rgba(0,0,0,0.5);
    background-size: 104px 103px;
    border-radius: 5px;
    /* height: 519px; */
    right:10px;
    top:45px;	
    width: 200px;
    /*left: 106px;
    bottom: 6px;*/
    background-color: #feffb4;
    padding: 5px 10px;
	}


#palette-container {
    position:fixed;
    float:left;
    /*background:#1d2731;*/
    background-image:linear-gradient(black,#3d3d3d);
    height:100%;
    width:25%;
    z-index:1;
    top:0;
    left:0;
    overflow:auto;
}

#flyPaper {
    position:fixed;
    z-index:100;
    opacity:.7;
    pointer-events:none;
    width:auto;
    height:auto;
    background-color:rgba(0,0,0,0);
}

/*para herramientas de edicion de elementos*/
.toolbar {
    z-index: 0;
    display:none;
    width:100px;
    height:40px;
    position:absolute;
    /*background: white;*/
    pointer-events:none;
}

.toolbar-palette {
    width:100%;
    /*min-width: 133px;*/
    height:27px;
    position:relative;
    /*background: white;*/
    /*pointer-events:none;*/
    top:-27px;
}


.tools {
    position:absolute;
    pointer-events:all;
    background-color:white;
    padding:0px;
    margin:0px;
    color:black;
    width:25px;
    height:25px;
    text-align:center;
    line-height:14px;
    border-radius:5px;
    cursor:pointer;
    /*opacity:.8;*/
}

.tools:hover  {
    background-color:lightblue;
    display: block;
}


.tools-delete {
	left:-20px;
	border:1px solid grey;
	width: 25px;
	height: 26px;
    background: white;
    float: left;
	text-align: center;
    display: block;
}

.tools-delete:hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}


/*
.tools-delete :hover {
    left:0px;
    top:0px;
	background-color:blue;
    color:lightblue !important;
	display: block;
}
*/
.tools-add-attr {
    top:0px;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius:10px;
}

.tools-select-super-entity {
	margin-left:15px;
}


/*.tools-clearlink {
left:-16px;
bottom:-4px;
font-size:.9em;
}*/

/*.tools-newnext {
right:-16px;
top:-4px;
font-size:.9em;
}*/

.tools-link {
   margin-left:20px;
}

.tools-duplicate {
	width: 25px;
	border:1px solid grey;
    margin-left: 6px;
    background: white;
	text-align: center;
    display: block;
}

.tools-duplicate:hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}

.tools-code  {
	width: 25px;
	border:1px solid grey;
	margin-left: 32px;
    background: white;
	text-align: center;
    display: block;
}


.tools-code :hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}

.tools-role-constraint {
	width: 25px;
	bottom:-43px;
	border:1px solid grey;
	margin-left: -7px;
    background: white;
	text-align: center;
    display: block;
}


.tools-role-constraint:hover >a {
    left:0px;
    bottom:0px;
    color:#333 !important;
}

.tools-isa-constraint {
	width: 25px;
	bottom:-43px;
	border:1px solid grey;
	margin-left: 19px;
    background: white;
	text-align: center;
    display: block;
}


.tools-isa-constraint:hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}


.tools-elementISA {
	width: 25px;
	border:1px solid grey;
	margin-left: 59px;
    background: white;
	text-align: center;
    display: block;
}


.tools-elementISA:hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}

.tools-repeat {
	width: 25px;
	border:1px solid grey;
	margin-left: 59px;
    background: white;
	text-align: center;
    display: block;
}


.tools-repeat:hover >a {
    left:0px;
    top:0px;
    color:#333 !important;
}

.tools-attr-type {
    left:0px;
    bottom:0px;
    border-radius:10px;
}


#selectAttrType {
    overflow:hidden;
}

.tools-isa-type {
    bottom:0px;
    left:0%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius:10px;
}

#selectIsaType {
    overflow:hidden;
}

.tools-rename {
    width: 100%;
    top:50%;
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    background:rgba(0,0,0,0);
    display:none;
}

.tools-rename textarea {
    width:70px;
    resize:none;
    overflow:hidden;
    font-size:15px;
    text-align:center;
    opacity:1;
}

.tools-palette-fix {
    right:0;
    top:0;
}

.tools-palette-reset {
    right:27px;
    top:0;
}

.tools-palette-opacity {
    right:54px;
    top:0;
}

.tools-palette-extend {
    right:81px;
    top:0;
}

.tools-palette-rotate {
    right:108px;
    top:0;
}

/*.flyConfig {
position:fixed;
z-index:100;
opacity:1;
pointer-event:none;
background-color:rgba(255,0,0,1);
}

.editElement {
z-index:100;
position:relative;
}*/

@font-face {
  font-family: 'Galatia';
  src: url('../fonts/Galatia.ttf');
}

.crowdforteens-header {
    font-family: 'Galatia' !important;
    padding: 1px !important;
}

.unco {
	position: absolute;
	right: 15px;
}

.menubutton {
    width: 60px;
    height: 30px;
    margin-left: 30px;
    font-size: 18px;
    font-family: 'Impact';
    background-color: #343a40;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
}

.menubutton:focus {
    outline: none;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

.menubutton:hover {
    outline: none;
    /*background-color: white;
    color: #555555;*/
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
}

.menubutton:active {
    outline: none;
    background-color: black;
    /*box-shadow: 0 5px #666;*/
    box-shadow: inset 0px 0px 0px 5px #24292d;
    font-size: 15px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    /*transform: translateY(-4px);*/
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

a:link{
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

a.tooltips {
    position: relative;
    display: inline;
}

a.tooltips span {
    position: absolute;
    width:140px;
    color: #ffffff;
    background: #000000;
    height: auto;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}

a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}

a.tooltipsbottom {
    position: relative;
    display: inline;
}
a.tooltipsbottom span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: auto;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
}
a.tooltipsbottom span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.tooltipsbottom span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}

/*****menues para los elements*****/
#menues{
    position: relative;
    float: right;
    margin-top: 69px;
    margin-right: 0px;
    height: 500px;
    max-height: 500px;
    width: 270px;
    max-width: 270px;
    min-width: 270px;
    background-color: #343a40;
    display: block;
    overflow-y: scroll;
    color: white;
}

#encabezadoMenu{
    display: block;
    margin-bottom: 20px;
    position: relative;
}

#encabezadoMenu h4{
    float: left;
    display: inline-block;
    margin-bottom: 20px;
}

#btnMinimizeMenues{
    float: right;
}

#menuOpciones {
    float: left;
    position: relative;
}

#menuLink{
    position: relative;
    height: auto;
    color: white;    
}

#menuClass{
    position: relative;
    height: auto;
    float: left;
}


/*cambio de color de ports disponibles cuando se clickea un port*/
.available-magnet {
    fill: blue;
}

.highlighted rect.highlightable {
  /*fill: lightgreen;
  stroke-width: 3px;
  opacity:0.2;
  
 
	fill: #E6FEFF;
	fill: #ffc107;	
	fill: #FFD760;	
	*/
	fill: #FFD455;	
		
	
}

.highlightedWrong rect.highlightable {
	fill: #ffd4d4;	
	stroke:#ff5353;
	
}

.highlighted_pos rect {
  fill: lightgreen;
  opacity:0.2;
}

.highlightedWrong text {
	fill:#c40000;	
}

/*
select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem);
}
*/
.tempRect{
	z-index:10000000 !important;
}

.fondo_redondo_verde_borde {
    border: 1px solid #5cb85c !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #5cb85c!important;
    color: #ffffff !important;
    width: 150px;
	text-align:center;
}


.fondo_redondo_azul_borde {
    border: 1px solid #275f8e  !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #337ab7!important;
    color: #ffffff !important;
    width: 150px;
	text-align:center;
}