!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{:name => "author", :content => "Gimenez, Christian"}
    %link{:rel => "stylesheet", :href => "./css/highlight.min.css"}
    %link{:rel => "stylesheet", :href => "./css/bootstrap.min.css"}
    %link{:rel => 'stylesheet', :href => './css/index.css'}
    %title crowd Conversor

  %body
    %header
      %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        %a.navbar-brand.crowd-header.text-white{:href => "http://crowd.fi.uncoma.edu.ar"}
          c r o w d - GUI
        %button.navbar-toggler{:type => "button", 'data-toogle' => 'collapse',
                               'data-target' => '#navbarNav',
                               'aria-controls' => 'navbarNav',
                               'aria-expanded' => 'false',
                               'aria-label' => 'Toggle Navigation'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{:href => 'http://crowd.fi.uncoma.edu.ar/'} Home
            %li.nav-item
              %a.nav-link{:href => 'http://crowd.fi.uncoma.edu.ar/crowd2'} Crowd 2
          .float-right
            %img{:src => 'imgs/gnu-inside.png'}
    %main{:role => 'main'}
      .container.text-center.my-2

        .btn-group-vertical
          %a.btn.btn-secondary(href="reasoning_editor.html" type="button")
            UML editor with reasoning support
          %a.btn.btn-secondary(href="uml_editor.html" type="button")
            UML editor without Reasoning support
          %a.btn.btn-secondary(href="orm_editor.html" type="button")
            ORM Editor

    %footer.text-muted.mt-5.border-top
      .container.pt-2
        %a{:href => "http://faiweb.uncoma.edu.ar"}
          %img{:src => "./imgs/FAI.jpg", :width => "50px",
               :alt => "FAIF logo"}
          %img{:src => "./imgs/UNComa.jpg", :width => "50px",
               :alt => "UNComa logo"}
          U.N.Coma., Fa.I.
        \|
        %a{:href => "https://cs.uns.edu.ar"}
          %img{:src => "./imgs/DCIC.png", :width => "50px", :alt => "DCIC logo"}
          %img{:src => "./imgs/UNS.jpg", :width => "50px", :alt => "UNS logo"}
          U.N.S., D.C.I.C.

        %p.float-right
          %a{:href => "#"} Back to top

    %script{:src => "./libs/jquery.js"}
    %script{:src => "./libs/bootstrap.min.js"}
