
body {
background:#fff;
/*color:#333;*/
/*font-family:"century gothic";*/
/*font-size:12px;
width:100%;*/

}
@media (min-width:768px){
	.modal-dialog{width:750px !important;
				 margin:30px auto}
}
	
.vcenter {
    display: inline-block !important;
    vertical-align: middle !important;
    float: none !important;
}

code_ayuda {
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

tab
{
	margin-left:25px;
}

code_ayuda_Subtitulo_succes {
    padding: 2px 4px;
    color: #429200;
    background-color: #f9f2f4;
    border-radius: 4px;
}



.label_estado_Concepto1 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #FA5858;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}

.label_estado_Concepto2 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #5FB404;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}


.label_estado_Venta8 {
    border:1px solid #D1CACA;
	padding: 1px 10px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-left:5px solid #006DCC;
	background-color:#FFFFFF;
	color:#5C5C5C;
	width:140px;
	display:inline-block;
}

.label_estado_Venta9 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #EE27D4 ;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}

.label_estado_Venta10 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #5FB404;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}

.label_estado_Venta11 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #4C4C4C;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}

.label_estado_Venta15 {
    border: 1px solid #D1CACA;
    padding: 1px 10px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 5px solid #FA5858 ;
    background-color: #FFFFFF;
    color: #5C5C5C;
    width: 140px;
    display: inline-block;
}

.label_estado1
{
        border:1px solid #D1CACA;
        padding: 1px 10px 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        border-left:5px solid #006DCC;
        background-color:#FFFFFF;
        color:#5C5C5C;
        width:140px;
        display:inline-block;
    
    }
	
	
.bs-callout {
    padding: 0px 10px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-warning {
    border-left-color: #aa6708;
}


.bs-callout-warning-text {
	margin-top:5px;
    color:#aa6708;
	font-size:17px;
}

.bs-callout-success {
    border-left-color: #429200;
}


.bs-callout-success-text {
	margin-top:5px;
    color:#429200;
	font-size:17px;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}


.bs-callout-danger-text {
	margin-top:5px;
    color:#ce4844;
	font-size:17px;
}


.input-group .form-control {
    z-index: 0 !important;
    
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover {
    color: #AAAAAA !important;
}

.fondo_redondo_azul {
    border: 1px solid #337AB7 !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #337AB7 !important;
    color: white !important;
	min-width: 40px;
}

.fondo_redondo_verde {
    border: 1px solid #5FB404 !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #BCF5A9 !important;
    color: #333 !important;
	min-width: 40px;
}

.fondo_redondo_negro {
	border: 1px solid #4C4C4C !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #DDDDDD !important;
    color: #4C4C4C !important;
    min-width: 40px;
}

.fondo_redondo_amarillo {
    border: 1px solid #C7CE0C !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #F2F5A9 !important;
    color: #333 !important;
	min-width: 40px;
}


.fondo_redondo_rojo {
    border: 1px solid #FA5858 !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #F6CECE !important;
    color: #333 !important;
	min-width: 40px;
}


.fondo_redondo_lila {
    border: 1px solid #F781F3 !important;
    border-radius: 4px;
    padding: 2px;
    background-color: #F8E0F7 !important;
    color: #333 !important;
	min-width: 40px;
}

.subTitulo_h3
{
	color: #1C64A2;
    margin-bottom: 2px;
    margin-top: 5px;
	font-size:20px;
}



.redondo_azul {
    border: 1px solid #337AB7;
    border-radius: 4px;
    padding: 2px;
    background-color: #ffffff;
    color: #337AB7;
	min-width: 40px;
}


.redondo_rojo {
    border: 1px solid #e81700;
    border-radius: 4px;
    padding: 2px;
    background-color: #ffffff;
    color: #e81700;
	min-width: 40px;
}


.redondo_verde {
    border: 1px solid #98c573;
    border-radius: 4px;
    padding: 2px;
    background-color: #ffffff;
    color: #98c573;
	min-width: 40px;
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	    background: url('../imgs/loading.gif') 50% 50% no-repeat rgba(218, 218, 218, 0.57);
}


.none_resize
{
	resize:none;
}

.img-circle {
    border: 1px solid #dedede;
}
	
/* Css para el Arbol de Permisos*/



.level-1
{  
    display: inline-block;
    width: 20px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 0;
	margin-right:5px;
	
}

.bolder{
	font-weight:bold;
}


.level-2
{  
    display: inline-block;
    width: 40px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -14px;
    margin-right:5px;
}


.level-3
{  
    display: inline-block;
    width: 60px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -28px;
    margin-right:5px;
}


.level-4
{  
    display: inline-block;
    width: 80px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -42px;
    margin-right:5px;
}


.level-5
{  
    display: inline-block;
    width: 100px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -56px;
    margin-right:5px;
}


.level-6
{  
    display: inline-block;
    width: 120px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -70px;
    margin-right:5px;
}


.level-7
{  
    display: inline-block;
    width: 140px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -84px;
    margin-right:5px;
}


.level-8
{  
    display: inline-block;
    width: 160px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -98px;
    margin-right:5px;
}


.level-9
{  
    display: inline-block;
    width: 180px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -112px;
    margin-right:5px;
}


.level-10
{  
    display: inline-block;
    width: 200px;
    height: 13px;
    background-image: url("../img/left_arrow_TreeView.png");
    background-position: 0 -126px;
    margin-right:5px;
}

.panel-info {
    border-color: rgb(134, 204, 240) !important;
}

.panel-blue {
    border-color: #337AB7  !important;
}

.panel-blue>.panel-heading {
    color: #FFFFFF;
    background-color: #337AB7;
    border-color: #337AB7;
	/*border-left:2px solid #337AB7;*/
}


.panel-danger {
    border-color: #ff6f47 !important;
}

.panel-danger>.panel-heading {
    color: #b91b1b;
    background-color: #F2DED0;
    border-color: #ebccd1;
}

.panel-grey {
    border-color: #CCCCCC  !important;
}

.panel-grey>.panel-heading {
    color: #337AB7;
    background-color: #F5F5F5;
    border-color: #CCCCCC;
	/*border-left:2px solid #337AB7;*/
}

.panel-warning {
    border-color: #cabeb0;
}

.panel-success {
    border-color: #98C573 !important;
}

.panel-info>.panel-heading {
    color: #337AB7;
    background-color: #F5FAFF;
    border-color: #DDDDDD;
}

.panel-heading {
    padding: 2px 9px;
	
}

.panel-body {
    padding: 0px;
	padding-top: 2px;
    padding-bottom: 4px;
	/*background-color: #FAFAFA;*/
}

.panel-success>.panel-heading {
    
    background-color: #e7ffde !important;
    
}

.panel-subtitte{
	padding-top: 5px;
}


.panel {
    
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

.panel-footer {
    
	padding-left:5px;
	padding-right:5px;
	padding-bottom:1px;
	margin-top:0px;
	padding-top:2px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {    
    opacity: 0.65 !important;
    background-color: #E8E8E8 !important;
}

#div_BusquedaAvanzada
{
	padding: 0px !important;
    margin-bottom: 0px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

.div_BusquedaAvanzada table thead tr td
{
	color: #DF0101 !important;
	background-color: #FBEFEF !important;
    
}

.container {
	 width: 100%;
     margin-right: 0px;
     margin-left: 0px; 
	 padding-left:20px;
	 padding-right:20px;
}

  
.celda_roja
{
    background-color:#FBEFEF !important;
    color:#FF2C2C !important;
  
    } 

	

.celda_roja td
{
    
    border-top: 1px solid #FFA7A7 !important;
	border-bottom: 1px solid #FFA7A7 !important;
	background-color:#FBEFEF !important;
    color:#FF2C2C !important;
  
} 

	
.celda_naranja
{
    background-color:#FFF5EA !important;
    color:#DF7401 !important;
  
    } 
    
.celda_naranja td
{
    background-color:#FFF5EA !important;
    color:#DF7401 !important;
    border-top: 1px solid #FFC586;
    border-bottom: 1px solid #FFC586;
    } 

        
.celda_verde
{
    background-color:#D7FFDB  !important;
    color:#25661C !important;
  
    } 
    
.celda_verde td
{
    background-color:#D7FFDB  !important;
    color:#25661C !important;
    border-top: 1px solid #79C76F !important;
    border-bottom: 1px solid #79C76F !important;
    } 
		

.celda_celeste
{
    background-color:#F0F7FB  !important;
    color:#2E7396 !important;
  
    } 
    
.celda_celeste td
{

    background-color:#F0F7FB  !important;
    color:#2E7396 !important;
    border-top: 1px solid #93CDEB !important;
    border-bottom: 1px solid #93CDEB !important;
    } 

	
.nohover:hover {
    background-color: #FFFFFF !important;
	color:inherit !important;
	
}

.nohover:hover td{
	
    
}


.btn-default-celeste {
    color: #333;
    background-color: rgba(188, 232, 241, 0.3) !important;
    border-color: #128DC2;
}

.btn-default-celeste:hover {
    background-color: #F2F2F2 !important;
	
    }

.busqueda_basica
{}


.boton_nuevo
{}

.invisible
{
		display:none;
}

.txt_center
{
	text-align:center;
}


.txt_left
{
	text-align:left;
}


.txt_right
{
	text-align:right;
}

.form-group {
    margin-bottom: 2px; 
	margin-top: 2px; 
}

.p_cero
{
	
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;


}

.pb_cero
{
	padding-bottom:0px !important;
}

.mt_cero
{
	margin-top:0px;
}

.mb_cero
{
	margin-bottom:0px;
}

.mt_veinte
{
	margin-top: 20px;
}


.mb_diez
{
	margin-bottom:10px;
}

.mt_diez
{
	margin-top:10px;
}


/*
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #777 !important; 
    background-color: #F8F8F8 !important; 
}
*/

.navbar .nav>li>.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    content: '';
	
}

#bienvenido{
	padding-top: 10em;
	text-align:center;
	opacity:0.6;
	padding;10px;
}

#page-wrapper{
	padding:0 20px;
	margin-top:10px;
	/*min-height: 300px !important;*/
}
.logo_central{
	text-align:center;
	text-align:center;
	margin-top:5%;		
	width:500px;
	height:300px;	 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
    background-repeat: no-repeat;
    background-size: contain;	
}

.logo_login{

	text-align: center;
    text-align: center;
    /*margin-top: 5%;*/
    width: 202px;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.login-panel {
    margin-top: 10%;
}

.label-white {
    background-color: #F1F1F1;
	color:#333;
	border: 1px solid #337AB7;
}

.label-titulo {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #d4d4d4;
	font-weight: 100;
    font-size: 13px;
	
}

.mtcero
{
	margin-top:0px !important;
}


.mbcero
{
	margin-bottom:0px !important;
}


.mbcinco
{
	margin-bottom:5px !important;
}

.form-actions
{
text-align:right !important;
padding-right:10px !important;
}


hr {
margin-top: 0px;
margin-bottom: 5px;
	}

	.validador {
    display: inline;
    background-color: #FBEFEF;
    border: 1px solid #eed3d7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #DF0101;
    font-size: 8pt;
    padding: 0 2px 0 2px;
	}
	
.form-control {
    
    height: 30px;
    padding: 4px 6px;    
}

.btn-toolbar {
    padding:2px 0px;
}

.input-group{
	    padding-top: 2px;
}


.btn-help {
    color:inherit;
    /*cursor: context-menu;*/
    cursor: default;
	text-decoration:none !important;
}


.btn {
    
    padding: 4px 10px;
}

.well {
    min-height: 40px;
    padding: 2px 10px;	
	
}

.breadcrumb {
    background: none;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 6px;
	color: #337ab7;

}

.page-header {
	margin-top:20px;
	margin-top: 10px;
}

.row {
	margin:0px 0px;
	
}

.row-bottom-border{
	border-bottom :1px solid #bce8f1;
    padding-top: 2px;
    padding-bottom: 2px;
}
	
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    
    padding-right: 5px;
    padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 3px;
}

.bordeTop_Azul {
    border-top: 1px solid #128dc2;
	padding-top:5px;
	text-align:center;
}

.bordeBottom_Azul {
    border-bottom: 1px solid #128dc2;
	padding-top:5px;
	text-align:center;
}

.letra_Celeste {
    color: #128dc2;
}

.letra_Roja {
    color: red;
}


.letra_Verde {
    color: #479e00;
}

.table {
    font-size:14px;
    margin-top: 2px;
	margin-bottom: 5px !important;
}

.dropdown-submenu {
    position: relative;
}

 
 .dropdown-submenu{position:relative}
 .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px}
	
.dropdown-submenu:hover>.dropdown-menu{display:block}
.dropup .dropdown-submenu>.dropdown-menu{top:auto;bottom:0;margin-top:0;margin-bottom:-2px;-webkit-border-radius:5px 5px 5px 0;
-moz-border-radius:5px 5px 5px 0;border-radius:5px 5px 5px 0}

.dropdown-submenu>a:after{display:block;float:right;width:0;height:0;margin-top:5px;margin-right:-10px;border-color:transparent;border-left-color:#ccc;
	border-style:solid;border-width:5px 0 5px 5px;content:" "}

.dropdown-submenu:hover>a:after{border-left-color:#fff}
	
	

.dropdown-submenu.pull-left{float:none}

.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px}
	
.dropdown .dropdown-menu .nav-header{padding-right:20px;padding-left:20px}


.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #333;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}

.titulo_tabla {
    background-color: #f5f5f5 !important;
}

.dato_tabla {
    background-color: #fff;
}

#tabla_detalle table th {
    border: #9EA09F thin solid;
    background: #F5F5F5;
    color: #565656;
    border: 1px solid #dddddd !important;
    padding: 2px 3px 2px 5px;
    font-size: 13px;
    text-align: center;
}

.pl2
{
	padding-left:2px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px !important;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #0081c2 !important;
    background-image: -moz-linear-gradient(top,#4690D0,#337AB7) !important;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#4690D0),to(#337AB7)) !important;
    background-image: -webkit-linear-gradient(top,#4690D0,#337AB7) !important;
    background-image: -o-linear-gradient(top,#4690D0,#337AB7) !important;
    background-image: linear-gradient(to bottom,#4690D0,#337AB7) !important;
    background-repeat: repeat-x !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4690D0',endColorstr='#337AB7',GradientType=0) !important;
}

.label_pagina {
    margin-left: 10px;
    margin-right: 10px;
}

#turno {
	background:#FFF;
	width: 500px;
	margin: auto;
	margin-top: 20px;
}

#medico {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

#pacienteT {
	background:#FFF;
	width: 500px;
	margin: auto;
/*	margin-top: 20px;*/
}


#formulario2 h2 {
	font-size:12px;
	color:#1C64A2;
	}
	
#framecontenido{
width:850px;

}

#wrapper
{
/*	width:100%;
	margin:auto;
	max-width:500px;*/
	
}



#content{
	text-align:center;  
	margin-top:10px;
	margin:auto;
	display:table;
	}
	

#form1	{
	
	margin-top: 260px;
	}
	

#turno {
	background:#FFF;
}

#tabla_detalle table.list tr:hover td
{
       border-top:1px solid #9BBCCC;
       border-bottom:1px solid #9BBCCC;
       color:#128dc2;
}

.table td {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    vertical-align: middle !important;
	font-size:14px !important;
}

label {
    margin-bottom: 0px;
	font-weight:inherit;
}

.datos thead td{
    color: #333;
    /*border: 1px solid #BED1E0 !important;*/
	background-color:#F5FAFF !important;

}

.datos td{
    color: #333;
    border: 1px solid #BED1E0 ;
	background-color:#fff ;

}

.table th {
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    vertical-align: middle !important;
}

.table-hover>tbody>tr:hover {
    background-color: #F7FCFF;
}

#tabla_detalle table.list tr.trgris{
	background-color:#EBEAE8;
	}

#tabla_detalle table.list td img{
	border:0;

	}	
	
#tabla_detalle table.list tr td img:hover{
	opacity:0.6;
	filter:alpha(opacity=60);
	} 	
	
#tabla_detalle table.list td{
	border-bottom:#ccc thin dotted;
    /*padding-left:15px;*/
    margin-left:5px;
	font-size:14px;
	}	

table td{
	font-size:12px;
	}	

table#detalle_paciente {
	padding:10px;
}

#detalle_paciente tr{
	}
	
#detalle_paciente td.label{
	padding-top:5px;
	}	
	
#detalle_paciente td{
	padding-top:5px;
	font-size:12px;
	}

#pacienteViewPublico {
	border:#ccc medium solid;
	padding-left:10px;
	margin-top:5px;
	margin-bottom:5px;
	width: 680px;
	background-color:#DCDDDE;
}

#pacienteView {
	border:#ccc medium solid;
	padding-left:10px;
	margin-top:5px;
	margin-bottom:5px;
	width: 710px;
	background-color:#DCDDDE;
}

#pacienteView table {
width: 710px;
}

#pacienteView .boton {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	}
	
#pacienteView .boton:hover {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar-roll.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	}
	
#pacienteView tr td b {
	margin-left:10px;
}

#pacienteView tr td h1 {
	margin:0;
	margin-left:10px;
}

#pacienteView tr td{
	color:#000;
}


#contVariable {
	border:#1C64A2 medium solid;
	padding-left:10px;
	margin-top:5px;
	margin-bottom:5px;
	width: 710px;
	background-color:#DCDDDE;
	
}

/*********************** INICIO TABLAS ******************/
/*******************************************************/

#tabla_detalle{
	margin-left:0px;
	margin-right:0px;
	}			
	
#tabla_detalle h3{
	border-bottom:#666 thin solid;	
	background:#FFF;
	color:#333;
	font-weight:bold;
	
	}			
	
#tabla_detalle table.list{
	/*border:#9EA09F thin solid;
	margin-top:10px;*/	
	background;#ccc;
	}
	
#tabla_detalle table.list th{
	border:#9EA09F thin solid;
	background:#F5F5F5;
	color:#565656;
	/*font-weight:bold;
	/*padding: 5px;*/
	    border: 1px solid #dddddd !important;
	padding: 2px 3px 2px 5px;
    font-size: 13px;
	text-align:center;
	
	}	
	
		
/*#tabla_detalle table.list td{
	border:#9EA09F thin solid;
	font-size:13px;
	background:#DCDDDE;
    color:#000;
	}	
	*/
table td{
	font-size:13px;
	}	
	
/****************************************************************/
/************************* ESTADOS *****************************/
#tabla_detalle table.list tr.estado1 td{
	background:#FF9;
	}
	
#tabla_detalle table.list tr.estado2 td{
	background:#6F6;
	}	
	
#tabla_detalle table.list tr.estado3 td{
	background:#F9F;
	}
	
#tabla_detalle table.list tr.tipoS td{
	background:#0FF;
	}			
	
#label {
	background-color:#EBEAE8;
	color:#F00;
	}
	
		
/******************* INICIO FORMS *********************/
/**************************************************/

/*
 input {
	border-color:#999;
	border-style:solid;
	border-width:1px;
	background:#F5F5F5;
	height:25px;
	font-weight:bold;
	color:#000;
	text-align:left;
	font-size:14px;
	}
*/
#tabla_detalle td input:hover {
	background:#fff;
	}
	
/*#formulariob  select{
    border: 1px solid #ccc;
    background: URL(../../imagenes/iconsapp/flecha.gif) no-repeat 200px 0px #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	color:#000;
	
	background:url(../../imagenes/iconsapp/flecha.gif);
	width:220px;
	height:25px;
	font-weight:bold;
	font-size:14px;
	}	*/
	
/*#formulariob .boton {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:100px;
	}
	
#formulario .boton:hover {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar-roll.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	}*/
	
#formulariob a.solicitar {
	background:#666;/*#06F;*/
	text-align:center;
	color:#FFF;
	font-weight:bold;
	text-decoration:none;
	height:30px;
	width:113px;
	-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 8px;

	}

#formulariob a.solicitar:hover { background-color:#639;/*2C5899;*/}

#formularioa .boton {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	}
	
#formularioa .boton:hover {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar-roll.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	}
	
#contenido h2{
	color:#1C64A2;
	font-weight:bold;
	margin-top:20px;
	margin-left:10px;
	margin-right:10px;
	height:20px;
	border-bottom:#999 thin solid;
	font-size:16px;
	}	
		
	
#formulariob  textarea {
	border-color:#000000;/*#06F;*/
	border-style:solid;
	border-width:1px;
	font-size:14px;
	}

/*#formularioa  select{
    border: 1px solid #ccc;
    background: URL(../../imagenes/iconsapp/flecha.gif) no-repeat 490px 0px #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	color:#000;
	
	background:url(../../imagenes/iconsapp/flecha.gif);
	width:510px;
	height:25px;
	font-weight:bold;
	font-size:14px;
	}	
	
#formularioa  select.selectlarge
{
    border: 1px solid #ccc;
    background: URL(../../imagenes/iconsapp/flecha.gif) no-repeat 475px 0px #fff !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
	color:#000;
	background:url(../../imagenes/iconsapp/flecha.gif);
	width:495px;
	height:25px;
	font-weight:bold;
	font-size:14px;
	}	*/
	
#formularioa  textarea {
	border-color:#333;/*#930;*/
	border-style:solid;
	border-width:1px;
	font-weight:bold;
	color:#000;
	font-size:14px;
	}	
	
#toolbarId	{
	width:100%;
	float:left;
	background:#000;
	height:50px;	
	margin-bottom:10px;
	color:#FFF;
}

#toolbarId p{
	float:left;
	font-size:20px;
	font-weight:bold;
	margin-left:7px;
	}
	
#toolbarId input{
	margin-top:15px;
	}


#formb{
padding-left:15%;
font-weight:bold; margin-bottom:5px;  float:left;
}

#tabla_detalle .boton {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	margin-left:10px;
	}
	
#tabla_detalle .boton:hover {
	background: url(../../imagenes/iconsapp/boton-buscar_limpiar-roll.gif) no-repeat;
	text-align:center;
	color:#333;
	font-weight:bold;
	border:none;
	height:30px;
	width:113px;
	margin-left:10px;
	}
	
#cinta{
	float:left;
	width:49%;
	padding-top:20px;
	}

/******************* FIN FORMS *********************/
/**************************************************/
#west-panel li{
	margin:1px;
	background-color:#CCC;
	padding:4px;
	
	padding-top:8px;
	}

#west-panel  { width:100%;}

#west-panel li:hover {
	color:#fff;
	background-color:#000;
	width:100%;
}

#west-panel li a {
	text-decoration:none;
	color:#2C5899;
	padding:5px 30px 4px 0;
	
	width:100%;
	font-size:12px;
	font-weight:800;
	
}

#west-panel li a:hover { color:#FFF;}


#popupTitleBar  {
    background-color: #000;
    border-style: solid;
	border-color:#000;
    border-width: 1px 1px 2px;
    color: #FFFFFF;
    font-weight: bold;
    height: 1.3em;
    padding: 5px;
    position: relative;
    z-index: 203;
}

h2 { /*color:#2C5899; */
    color:#1C64A2;
     margin-bottom: 2px; 
	 margin-top: 15px;}
	 
h4 {
	color: #333333;
    margin-bottom: 2px;
    margin-top: 15px;
	font-size:16px !important;
}

/***************************************************************************************/
/***************************************** LOGIN ***************************************/

#formInicio table {
	background-color:#1C64A2;
	-webkit-border-radius: 15px;
    -moz-border-radius: 15px;
     border-radius: 15px;
	
}

#formInicio table a {
	color:fff;
	font-weight:600;
	text-decoration:none;
	
}

#formInicio table a:hover {	color:#999;}

#formInicio table input {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
	 height:25px;
	 padding-left:5px;
	
}

#formInicio table .submit {
	
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;
	 height:25px;
	 padding-left:5px;
	 color:#fff;
	 font-weight:bold;
	 background-color:#333;
}


#boton { float:right; }
#boton input:hover { background-color:#999;}

#formInicio h2 { color: #fff; text-align:center; }


#loginB {
	background:url(../../imagenes/background.jpg) no-repeat ;
	background-position:top;
	background-color:#fff;
}

/*
#footer {  font-size:9px; margin-top:-10px; margin-bottom:10px; text-align: center;}
#footer  a{color:#2C5899; text-decoration:none; font-weight:bold}
#footer  a:hover {color:#999; }

#footer {
    bottom: 0;
    left: 0;
    background-color: red;
    height: 100px;
    padding-top: 20px;
}
*/

.footer {

    /*height:24px; */
	
    width: 100%; 
	background-color:#F8F8F8;
	background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
	border-top: 1px solid #337AB7;
	padding:3px 25px 7px 25px

}   

.footer_contents {

	height:24px; 
	/*width: 1000px; */
	margin:auto;
	text-align:right;
	background-color:#F8F8F8;
	
	

}
	

#cinta2 { width:100%; background-color:#000; color:#fff; margin:0; padding:5px;}
#cinta2 a{ color:#fff; font-weight:bold; padding-left:5px; padding-right:5px; text-decoration:none;}
#cinta2 a:hover{ background-color:#2C5899;}

#contenido { /*margin-left:15px; display: inline-block;*/}
#contenido2 { margin-left:25px;}

	
/*******************************************************/	
/************** LOADING *******************************/

.black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);
        }
		
.white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 25%;
            width: 40%;
            height: 40%;
            padding: 16px;
            border: 16px solid #999;
            background-color: white;
            z-index:1002;
            overflow: auto;
			text-align:center;
        }
		

/*******************************************************/	
/************** NORTH *******************************/

#cinta{
	float:right;
	
	padding:20px;
	}

#bodyCli{
margin-top:20px;
margin-left:15px;

}

#bodyCli h3{
border-bottom:solid 1px #666;
margin-right:5px;
color:#666;
}

#bodyCli p{
color:#000;
line-height:10px;
}


#headerCli{
height:60px;   
border-bottom:solid 1px;
margin-left:5px;
margin-right:5px;

}
#cintaCli{
	float:left;
	width:49%;
	padding-top:20px;
           
}

#cintaCli p{
	color:#F00;
	text-align:right;
       margin:0;
}
		
#cintaCli a{
	text-decoration:none;
	font-weight:bold;
	color:#333;
	text-align:right;
       float:right;
       margin-right:5px;
}
	
#cinta p{
	color:#F00;
	text-align:right;
}
		
#cinta a{
	text-decoration:none;
	font-weight:bold;
	color:#333;
	text-align:right;
    float:right;
    margin-right:5px;
}		
	
#logo{
	/*float:left;*/
	width:49%;	
	padding-top:20px;	
}	
		
#resultadopop{
	max-width:700px;
	
	
	
	}	
	
#medico {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}
	
#mensajeMail{
	text-align:center;
	
	}
	

	
	
.custom-checkbox > [type="checkbox"],
	.custom-checkbox > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked),
	.custom-checkbox > [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label,
	.custom-checkbox > [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 30px;
		cursor: pointer;
		margin-top:5px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left: -6px;
		top: 50%;
		margin-top: -15px;
		width: 30px;
		height: 30px;
		border: 1px solid #ddd;
		background: #ffffff;
		border-radius: 2px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		font: normal normal normal 30px/1 'Glyphicons Halflings';
		content: '\e013';
		position: absolute;
		top: 50%;
		margin-top: -19px;
    left: -4px;
    color: #94C947;
		xtransition: all .2s;
	}
	
	
	
	
	
	
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
	}
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
	
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
		content: '\2212';
		left: 2px;
		opacity: 1;
		transform: scale(1);
	}
	
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	  	box-shadow: none;
	  	background-color: #eeeeee;
		border-color: #eeeeee;
		cursor: not-allowed;
		opacity: 1;
		color: #dadada;
	}
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
	  color: #dadada; cursor: not-allowed;
	}
	.custom-checkbox > [type="checkbox"]:disabled + label {
	  color: #aaa; cursor: not-allowed;
	}
	.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
	.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
		border: 1px solid #bce8f1 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}
	.custom-checkbox > label:hover:before {
  		border: 1px solid #88D2FF !important;
	}
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
		border: 1px solid #E4E4E4 !important;
	}
	
	
::-webkit-scrollbar {
width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
background: #f0f8fb; 
border: 1px solid #ededed;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #5bc0de	; 
border: 1px solid #ededed;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.modal-header {
padding:8px 10px;
/*background-color: #337ab7;
color:#FFFFFF;*/
}